{{!< default}}<div class="content-area">
    <main class="site-main">
        {{#get 'tags' limit='all' include='count.posts' order='count.posts desc'}}
        {{#foreach tags}}
        <hr>
        <h5 align="center" class="tag-name">
            <a href="{{url}}">{{name}}</a><small>({{ count.posts }})</small>
        </h5>
        </hr>
        <div class="container medium">
            <div class="tag-media">
                <div class="card">
                    {{#if feature_image}}
                    <div class="container">
                        <div class="u-placeholder horizontal">
                            <img class="u-object-fit" srcset="{{> srcset}}" src="{{img_url feature_image size=" m"}}"
                                alt="{{name}}">
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
            <div class="tag-description">
                <div class="card">
                    {{#if description}}
                    <div>{{description}}</div>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/foreach}}
        {{/get}}
    </main>
    </div>