{{!< default}}

<div class="content-area">
    <main class="site-main" id="{{@site.comments_enabled}}-{{@site.comments_access}}">
        {{#post}}
            {{> content width="narrow"}}
        {{/post}}
        {{#is "post"}}
            {{#if @custom.show_related_posts}}
                {{> related}}
            {{/if}}
        {{/is}}
        {{#post}}
            {{#if "post"}}
                {{#if @member}}
                    {{#if comments}}
                        <section class="gh-comments gh-canvas">
                            <header class="gh-comments-header">
                                <h2 class="gh-comments-title related-title">Member discussion</h2>
                                {{comment_count autowrap="div" class="gh-comments-count"}}
                            </header>
                            {{comments title="" count=false}}
                        </section>
                    {{/if}}
                {{else}}
                <section class="gh-comments">
                    <header class="gh-comments-header">
                        <h2 class="gh-comments-title">Public discussion</h2>
                    </header>
                    {{> "comments"}}
                </section>
                {{/if}}
            {{/if}}
        {{/post}}
    </main>
</div>